


input {
    border: none !important;
    border-bottom: 1px solid !important;
    /* border-radius: 0px !important; */
}

input:focus {
    box-shadow: none !important;
}

input::placeholder {
    font-style: italic;
    color: #a5a5a5 !important;
}

button:first-child {
    background-color: #DB4444 !important;
    border: none !important;
}

.google-btn {
    color: rgb(95, 95, 95) !important;
    background-color: transparent !important;
    font-weight: 600 !important;
    border: 1px solid #aaa5a5 !important;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 0px #a7a4a4;
}