@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');

.slider-content {
    position: absolute;
    top: 39%;
    transform: translate(0%, -50%);
    margin-left: 100px;
}

.slider-content h2 {
    font-size: 60px;
    font-family: "Lugrasimo", cursive;
    font-weight: 500;
    color: #fbfbfb;
    text-shadow: 0px 4px 2px #6dabbe;
}

.slider-content p {
    color: #d4d4d4;
}

.slick-slider button:first-child {
    background: none !important;
}

.slick-prev {
    left: 40px;
    z-index: 9;
    background-color: none !important;
}

 .slick-next {
    right: 40px !important;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 34px !important;
}