
.offer .slick-slide {
    /* margin-left: 40px !important; */
}

.offer .slick-track {
    width: 0px !important;
    min-width: 6072px !important;
}

.offer .slick-prev {
    top: -38px;
    left: 90%;
    background-color: red !important;
}

.offer .slick-next {
    top: -38px;
    left: 97.5%;
}

.offer .slick-prev:before, .slick-next:before  {
    color: #db4444;
}